#news-hound-thread{
  width: 500px;
}
#thread-header{
  border-radius: 6px 6px 0 0;
}
#thread-header h3{
  font-weight: bold;
}
.comment{
  float: left;
  margin-bottom: 10px;
  width: 100%;
}
.comment .avatar{
  float: left;
}
.comment .comment-content{
  display: block;
  margin-left: 10px;
  min-height: 32px;
  float: left;
}
#add-news-hound-comment{
  margin: 14px;
  overflow: auto;
}
#add-news-hound-comment input[type="text"]{
  float: left;
  width: 290px;
}
#add-news-hound-comment button{
  width: 136px;
}
.modal-header{
  background: -webkit-linear-gradient(top, #FAFAFA 0%,#E6E6E6 100%);
}

.left{
  float:left;
}
.right{
  float:right;
}